name: Hello World

on:
  workflow_dispatch:

jobs:
  say-hello-inline-bash:
    runs-on: ubuntu-24.04
    steps:
      - run: echo "Hello from an inline bash script in a GitHub Action Workflow!"
  say-hello-in-python:
    runs-on: unbuntu-24.04
    steps:
      - run: print("Hello world from python")
        shell: python
